@import url(./font.css);


:root {
    --MB: 'MB', sans-serif;
    --MM: 'MM', sans-serif;
    --MR: 'MR', sans-serif;
    --PO: 'Prosto-One', sans-serif;
    --primary: #000;
    --secondary: #fff;
    --dark-gray: #282828;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: var(--primary);
}

.page__header {
    background-color: var(--dark-gray);
    padding-block: 6px;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav__link {
    color: var(--secondary);
    font-family: var(--MB);
    font-size: 20px;
    line-height: 24px;
}

.user__action {
    display: flex;
    gap: 25px;
}


.banner {
    background-image: url(../image/banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 635px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 38px;
}

.banner__title {
    color: var(--secondary);
    font-family: var(--PO);
    font-size: 100px;
    line-height: 75px;
}

.banner__link {
    padding: 13px 14px;
    background-color: var(--secondary);
    border-radius: 10px;
    color: var(--primary);
    font-family: var(--MM);
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 11px;
}

.products {
    margin-top: 30px;
}

.product__content {
    display: flex;
    align-items: start;
    gap: 30px;
}

.content__text {
    margin-top: 33px;
    color: var(--secondary);
    font-family: var(--MM);
    font-size: 22px;
    line-height: 27px;
}

.content__img {
    max-width: 552px;
    width: 100%;
    display: block;
}

.align-center {
    align-items: center;
}